<?xml version="1.0" encoding="utf-8" ?>
<!-- 主控台單行文字；若要 JsonLayout，取消下面整段註解並將 target 換成註解內版本。 -->
<!--
<target xsi:type="Console" name="console" encoding="utf-8">
  <layout xsi:type="JsonLayout" includeEventProperties="true" includeScopeProperties="true" indentJson="true">
    <attribute name="timestamp" layout="${longdate}" />
    <attribute name="level" layout="${level:upperCase=true}" />
    <attribute name="logger" layout="${logger}" />
    <attribute name="traceId" layout="${aspnet-traceidentifier:whenEmpty=}" />
    <attribute name="asp-request-url" layout="${aspnet-request-url:IncludeScheme=false:IncludeHost=false:IncludePort=false:IncludeQueryString=true:whenEmpty=-}" />
    <attribute name="message" layout="${message}" />
    <attribute name="exception" layout="${exception:format=tostring}" />
    <attribute name="callsite" layout="${callsite}" />
  </layout>
</target>
-->
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true" throwConfigExceptions="true" internalLogLevel="Off">
  <extensions><add assembly="NLog.Web.AspNetCore" /></extensions>
  <targets>
    <target xsi:type="Console" name="console" encoding="utf-8" layout="${longdate}|${level:uppercase=true}|${logger}|${message}${onexception:inner=${newline}${exception:format=tostring}}" />
  </targets>
  <rules><logger name="Microsoft.*" final="true" /><logger name="System.Net.Http.*" final="true" /><logger name="*" minlevel="Info" writeTo="console" /></rules>
</nlog>
